
.content.article div.padded p {
    max-width: 640px;
}

body {
    overflow: hidden;
}

article {
  margin:10px 65px;
}


h2 {
    letter-spacing: 2px;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    font-variant: small-caps;
    text-decoration: none;
    font-size:30px;
 }

h3 {
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  letter-spacing:0.1em;
  text-align: center;
  margin: 25px auto;
  line-height: 1.6;
  font-size: 15pt;
  font-variant: small-caps;
  font-weight: bold;
  color: #5F9EA0;}

.intro {
 	font-family: "Adobe Caslon Pro", "Hoefler Text";
 	font-size: 15px;
 	font-weight: 500;
 	line-height: 1.6;
 	text-align: justify;
  margin: 0 auto 30px;
 }

.definition {
  font-family: "Adobe Caslon Pro", "Hoefler Text";
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  margin: 0 auto 30px;
  text-align: justify;}

.change {
 	font-family: "Adobe Caslon Pro", "Hoefler Text";
 	font-size: 15px;
 	font-weight: 500;
 	line-height: 1.6;
 	margin: 0 auto 30px;
 	text-align: justify;
}

.performance {
 	font-family: "Adobe Caslon Pro", "Hoefler Text";
 	font-size: 15px;
 	font-weight: 500;
 	line-height: 1.6;
 	margin: 0 auto 30px;
 	text-align: justify;
}

.future {
 	font-family:"Adobe Caslon Pro", "Hoefler Text";
 	font-size: 15px;
 	font-weight: 500;
 	line-height: 1.6;
 	margin: 0 auto 30px;
  max-width: inherit;
 	text-align: justify;
}

.list {
  font-family:"Adobe Caslon Pro", "Hoefler Text";
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  max-width: 100%;
}

.FAQ {
    position: relative;
    margin-bottom: 30px;
    padding: 30px 15px;
    text-align: center;
    color: #808080;
    background-color: #F5F5DC;
    font-size: 1.25rem;
}

.caption{
  font-family:fantasy;
  font-size: 14px;
  line-height: 30px;
  max-width: 100%;
  font-weight: light;
  font-style: italic;
}

br {
  display: block;
  content: "";
  margin-top: 25px;
}


byline {
font-family: "Poynter OS Display", "Times New Roman", Georgia, serif;
font-style: normal;
font-variant: small-caps;
text-decoration: none;
font-size:14px;
}

dateline {
  font-family: "Poynter OS Display", "Times New Roman", Georgia, serif;
  font-style: normal;
  font-variant: small-caps;
  text-decoration: none;
  font-size:14px;
}
