
.content.article div.padded p {
    max-width: 640px;
}

body {
    overflow: hidden;
}

article {
  margin:10px 65px;
}


h2 {
    letter-spacing: 2px;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    font-weight: bold;
    font-variant: small-caps;
    text-decoration: none;
    font-size:35px;
 }

h3 {
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  letter-spacing:0.1em;
  text-align: center;
  margin: 25px auto;
  line-height: 1.6;
  font-size: 16pt;
  font-variant: small-caps;
  font-weight: bold;
  color: #5F9EA0;}

.intro {
 	font-family: "Adobe Caslon Pro", "Hoefler Text";
 	font-size: 15px;
 	font-weight: 500;
 	line-height: 1.6;
 	text-align: justify;
  margin: 0 auto 30px;
 }

.definition {
  font-family: "Adobe Caslon Pro", "Hoefler Text";
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  margin: 0 auto 30px;
  text-align: justify;}

.change {
 	font-family: "Adobe Caslon Pro", "Hoefler Text";
 	font-size: 15px;
 	font-weight: 500;
 	line-height: 1.6;
 	margin: 0 auto 30px;
 	text-align: justify;
}

.performance {
 	font-family: "Adobe Caslon Pro", "Hoefler Text";
 	font-size: 15px;
 	font-weight: 500;
 	line-height: 1.6;
 	margin: 0 auto 30px;
 	text-align: justify;
}

.future {
 	font-family:"Adobe Caslon Pro", "Hoefler Text";
 	font-size: 15px;
 	font-weight: 500;
 	line-height: 1.6;
 	margin: 0 auto 30px;
  max-width: inherit;
 	text-align: justify;
}

.list {
  font-family:"Adobe Caslon Pro", "Hoefler Text";
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  max-width: 100%;
}

.caption{
  font-family:"proxima-nova", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 30px;
  max-width: 100%;
  font-style: italic;
}

br {
  display: block;
  content: "";
  margin-top: 25px;
}

p:first-letter {
    float: left;
    font-size: 40px;
    line-height: 1;
    font-weight: bold;
    margin-right: 9px;
}

byline {
font-family: "Poynter OS Display", "Times New Roman", Georgia, serif;
font-style: normal;
font-variant: small-caps;
text-decoration: none;
font-size:20px
}

dateline {
  font-family: "Poynter OS Display", "Times New Roman", Georgia, serif;
  font-style: normal;
  font-variant: small-caps;
  text-decoration: none;
  font-size:20px;
}
